.clr-yel {
  color: #ffb92c;
}
.clr-blu {
  color: #0f397a !important;
}
.black {
  color: black;
}
.row-emp {
  height: 50px;
}
.fw-5 {
  font-weight: 500 !important;
}

.fnt-fmly {
  font-family: raleway;
}

nav {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.banner33 {
  height: 600px;
  background-image: url("../images/prcng-bg.png");
  background-size: cover;
  font-family: raleway;
}
.banner33 h1 {
  color: #ffb92c;
  border-bottom: solid 2px #ffb92c;
}

.banner33 button {
  color: #0f397a;
}

.bar31 {
  background-color: #0f397a;
}

.brdr-rds2 {
  border-radius: 15px;
}

.tt-bg {
  background-color: #ebf3ff !important;
}

.tb-br {
  border: solid 2px #0f397a !important;
}

.tb-row {
  border: solid thin #fff;
}

.ftr {
  background-image: url(../images/ftr-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: raleway;
}
.bordr-left {
  border-left: solid 2px #fff;
}

.btm-br {
  background-color: #223462;
  font-family: raleway;
}

@media only screen and (min-width: 1000px) {
  .txt-wdth {
    width: 38%;
  }
}

@media only screen and (max-width: 1000px) {
  .bordr-left {
    border-left: none !important;
  }
}
